# Python bytecode files
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/
*.env

# Distribution and build directories
build/
dist/
*.egg-info/
*.egg

# Logs and temporary files
*.log
*.tmp
*.bak
*.swp
*.swo

# Test reports and coverage
.coverage
.cache/
nosetests.xml
coverage.xml
*.cover
.hypothesis/

# Documentation build output
docs/_build/

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# IDE-specific files
.idea/
.vscode/
*.iml

# Operating system files
.DS_Store
Thumbs.db
desktop.ini
